<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One|Source+Sans+Pro:400" rel="stylesheet">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default fixed">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{% url 'index'%}"><span class="glyphicon glyphicon-play"></span>  NUNUCAST</a></li>
                    </ul>

                    
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_active %}
                        <li><a href="{%url 'login' %}"> <span class="glyphicon glyphicon-heart"></span> {{user.username}}</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{%url 'login' %}"> <span class="glyphicon glyphicon-user"></span> Login</a></li>
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %}
                    </ul>
                </div>
        </nav>
        {% block content %}
        {% endblock%}
    </body>
</html>