{% extends 'nunucast/base.html'%}

{% block content %}
    <div class="wrap-content">
        <div class="img-cover"></div> 
        <div>
            <div class="wrap-title">
                <div class="wrap-text-title">
                    <div class="title1">음악의 즐거움</div>
                    <div class="nunucast">NUNU CAST</div>
                </div>
                <div class="wrap-btn-title">
                    <ul>
                        <li><button class="btn btn-success" type="">로그인</button></li>
                        <li><button class="btn btn-info" type="">회원가입</button></li>
                    </ul>
                </div>
            </div>
                
        </div>
    </div>
{% endblock %}