@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fixed{
    position: fixed;
    width: 100%;
}

.wrap-content{
    height: 100vh;
    background-image: url('../images/bgimage.png');
    background-size: cover;
    z-index:-2;
}

.img-cover{
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);                                                                 
   z-index:-1;
}


.wrap-content .wrap-title{
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%, -50%);                                                                   
     font-size:3rem;
     color: red;
     text-align: center;
}

.wrap-content .wrap-text-title{
    border-top: 6px solid white;
    border-bottom: 6px solid white;
    padding: 40px;
    margin-bottom:40px; 
    animation-duration: 2.5s;
    animation-name: fadeInDown;
    
}

.wrap-content .wrap-title .title1{
    font-family: 'Racing Sans One', cursive;
    font-size: 1.5rem;
}

.wrap-content .wrap-title .nunucast{
    font-family: 'Racing Sans One', cursive;
    font-size:4rem;
}

.wrap-btn-title ul li button{
    width:60%;
    font-size: 1.2rem;
    animation-duration: 3s;
    animation-name: fadeIn;
}

